<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../static/styles.css">
</head>
<body class="fon">
    <h1  class = "xxx"> животные</h1>
    <div>
      <a href="{{ url_for('descr', id='2') }}">
        <img class="bbb" src="static/animals1.jpg" alt="Картинка" />
      </a>

      <a href="{{ url_for('descr', id='3') }}">
        <img class="bbb" src="static/animals2.jpg" alt="Картинка" />
      </a>
    
      <a href="{{ url_for('descr', id='4') }}">
        <img class="bbb" src="static/animals3.jpg" alt="Картинка" />
      </a>
    </div>
    <h1 class="xxx">рыбы</h1>
    <div>
      <a href="{{ url_for('descr', id='5') }}">
        <img class="bbb" src="static/fish1.jpg" alt="картинка" />
      </a>
      <a href="{{ url_for('descr', id='6') }}">
        <img class="bbb" src="static/fish2.jpg" alt="картинка" />
      </a>
      <a href="{{ url_for('descr', id='7') }}">
        <img class="bbb" src="static/fish3.jpg" alt="картинка" />
      </a>

    </div>
    <h1 class="xxx">птицы</h1>
    <div>
      <a href="{{ url_for('descr', id='8') }}">
        <img class="bbb" src="static/ptiza1.jpg" alt="картинка" />
      </a>
      <a href="{{ url_for('descr', id='9') }}">
        <img class="bbb" src="static/ptiza2.jpg" alt="картинка" />
      </a>
      <a href="{{ url_for('descr', id='10') }}">
        <img class="bbb" src="static/ptiza3.jpg" alt="картинка" />
      </a>
    </div>
    <h1 class="xxx">жуки</h1>
    <div>
      <a href="{{ url_for('descr', id='11') }}">
        <img class="bbb" src="static/juk1.jpg" alt="картинка" />
      </a>
      <a href="{{ url_for('descr', id='12') }}">
        <img class="bbb" src="static/juk2.jpg" alt="картинка" />
      </a>
      <a href="{{ url_for('descr', id='13') }}">
        <img class="bbb" src="static/juk3.jpg" alt="картинка" />
      </a>
    </div>
</body>
</html>