<!DOCTYPE html>
<html lang="en" class="hhh hhh9">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
  <h1 class="xxx">ворон</h1>
  <h2 class="text">Ворон (лат. Corvus corax) — вид птиц из рода воронов отряда воробьинообразных. Обитающий в Северном полушарии, этот вид является наиболее широко распространённым из всех врановых и одним из умнейших на планете.</h2>
</body>
</html>