<!DOCTYPE html>
<html lang="en" class="hhh hhh11">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
  <h1 class="xxx">майский жук</h1>
  <h2 class="text2">Майские жуки, или майские хрущи (Melolontha) — род насекомых семейства пластинчатоусых, обитающих в Европе и Азии. Вплоть до середины 1950-х годов были очень широко распространены и, являясь вредителями растений</h2>
</body>
</html>