<!DOCTYPE html>
<html lang="en" class="hhh hhh12">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
  <h1 class="xxx">жук олень</h1>
  <h2 class="text3">Род жуков из семейства Рогачи, включающий в себя около 50 видов. Плиний Старший отмечал, что Нигидий назвал жуков-оленей lucanі по названию Лукании - области Италии, где их использовали в качестве амулетов</h2>
</body>
</html>