<!DOCTYPE html>
<html lang="en" class="hhh hhh1">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../static/styles.css">
</head>
<body class="fon">
  <h1 class = "xxx" align="center">БЕГЕМОТ</h1>
  <h2 class = "text">Обыкновенный бегемот, или гиппопотам (лат. Hippopótamus amphíbius) — парнокопытное млекопитающее из семейства бегемотовых, единственный современный вид рода Hippopotamus.</h2>
    
</body>
</html>