<!DOCTYPE html>
<html lang="en" class="hhh hhh3">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../static/styles.css">
</head>
<body class="fon">
  <h1 class="xxx" align="center">ВОЛК</h1>
  <h2 class="text">вид хищных млекопитающих из семейства псовых (Canidae). Наряду с койотом (Canis latrans), обыкновенным шакалом (Canis aureus) и ещё несколькими видами составляет род волков (Canis).</h2>
</body>
</html>