<!DOCTYPE html>
<html lang="en" class="hhh hhh5">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../static/styles.css">
</head>
<body class="fon">
  <h1 class="xxx">мегалодон</h1>
  <h2 class="text">Мегалодон (лат. Otodus megalodon или Carcharocles megalodon) — вид вымерших акул из семейства Otodontidae. Существовал в миоцене и плиоцене, хотя есть некоторые спорные данные о более древних и о более новых находках.</h2>
  
</body>
</html>