<!DOCTYPE html>
<html lang="en" class="hhh hhh6">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../static/styles.css">
</head>
<body class="fon">
  <h1 class="xxx">карась</h1>
  <h2 class="text">Караси (лат. Carassius) — род лучепёрых рыб семейства карповых.
    Это неприхотливые промысловые рыбы, и ценный объект прудового хозяйства благодаря способности выживать при низком (до 2—3 мг/л) содержании кислорода в воде.</h2>
</body>
</html>