<!DOCTYPE html>
<html lang="en" class="hhh hhh7">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
  <h1 class="xxx">голубь</h1>
  <h2 class="text"> широко распространённая птица семейства голубиных.
    Родиной сизого голубя считаются Южная Европа, Юго-Западная Азия и Северная Африка. Эти птицы были приручены человеком, в результате были выведены так называемые домашние голуби (Columba livia var. domestica)</h2>
</body>
</html>